body {
  font-family: "Courier New", Courier, monospace;
  color: lightgray;
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

#container {
  padding-top: 10%;
  max-width: 50%;
  overflow-wrap: break-word;
}

#hero {
  min-width: 50ch;
  font-size: 75%;
  font-weight: bold;
}


@media only screen and (max-width: 900px) {
  #container {
    padding-top: 10%;
    max-width: 100%;
    overflow-wrap: break-word;
  }
}


@media only screen and (max-width: 350px) {
  #hero {
    visibility: hidden;
  }
}
